/**
 * Common HTML elements
 */
body {
	background-color: #fff;
	font-family: "Verdana", Geneva, sans-serif !important;
}
a {
	text-decoration: none;
	padding: 2px;
}
a:link {
	color: #069;
}
a:active {
	color: #069;
}
a:visited {
	color: #069;
}
a:hover {
	color: #069;
	background: #b5e6ff;
	padding: 2px;
	border-radius: 2px;
}
#content { /*estilo de textos*/
	font-size: 0.8em;
	padding-top: 0.8em;
}
ul, menu, dir {
	list-style-type: square;
}
/**
 * Navigation bar
 */
#navbarHeader{
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
}
#navbarHeader a {
	/* margin-left: 20px; */
	font-size: 1.0em;
	letter-spacing: 0.05em;
}
#navbarHeader a:hover{
	border-bottom: 4px #3067b1 solid;
	background: none;
	border-radius: 0;
}
#navbar{
	margin-left: 5%;
	margin-top: 20px;
	border-bottom: none;
}
#navbar a{
	font-size: 1.0em;
	letter-spacing: 0.05em;
}
#navbar a:hover{
	border-bottom: 4px #3067b1 solid;
	background: none;
	border-radius: 0;
}
#navbarBottom {
	float: left;
	width: 100%;
}
#navbarBottom a {
	font-weight: normal;
	font-size: 0.85em;
	letter-spacing: 0.05em;
	color: #bdbdbd;
}
#navbarBottom a:hover{
	border-bottom: 4px #ccc solid;
	background: none;
	border-radius: 0;
	color: #ccc;
}
#navbarBottom ul {
	background-color: #393939;
	padding: 10px 20px;
}
ul.menu a {
	text-transform: capitalize;
}
ul.menu li {
	padding: 0 1.03em 0 0;
}
/*
 * Navbar antirocketo launcher.
 */
/*
#rightSidebar #sidebarDevelopedBy, #rightSidebar
#sidebarHelp, #rightSidebar #sidebarUser,
#rightSidebar #notification, #rightSidebar
#sidebarFontSize, #rightSidebar
#sidebarInformation { display: none !important; }
*/
/*
 * HOME **
 */
#homeMasteret {
	float: right;
	font-size: 13px;
}
#loginHome {
	color: white;
	margin-top: 10px;
	margin-left: 20px;
}
#loginHome a {
	color: rgb(0, 102, 153) !important;
}
#issnHome {
	margin-top: 90px;
	margin-right: 5px;
	color: white;
}
#whyHome
{
	min-width: 600px !important;
}
#whyHome ul li {
	margin-bottom: 8px;
}
.whyTitle {
 	margin: 20px 0; 
 	font-family: 'Lato', sans-serif !important;
 }
 .whyTitle .whyBold {
 	font-weight: bolder;
 }
 .whyTitle .whyLow {
 	font-size: 20px;
 }
 .whyTitle span {
 	font-size: 35px;
 	color: #1d3e80;
 }
.whyBlock li, .whyLinksList li {
	list-style-type: square;
	color: #254fa6;
}
.whyBlock li span {
	color: #000;
}
.whyLinksList li span {
	color: #166394;
}
#whyPublish {
	float: left;
	background: #fbfbfb url(./images/border.jpg) left bottom no-repeat;
	border-radius: 5px;
	max-width: 868px;
	background-size:100%;
}
#whyPublish div {
	float: left;
	width: 30%;
	padding: 10px;
	margin-bottom: 25px;
}
#whySecond {
	margin-top: 20px;
}
#whySubmit {
	float: left;
	width: 30%;
}
#whyScope {
	float: left;
	width: 30%;
	margin-left: 5%;
}
#whyPapers {
	float: left;
	width: 30%;
	margin-left: 5%;
}
#whyRecent {
	float: left;
	margin-top: 20px;
	width: 100%;
}
.whyRecentBlock {
	padding: 10px;
	margin: 10px 0;
	background-color: #ececec;
}
.backgroundWhite {
	background-color: #fff !important;
}
.whyRecentContent {
	float: left;
	width: 600px;
}
.whyRecentAuthor {
	padding-top: 5px !important;
}
.whyRecentPDF {
	float: right;
}
/*
 *  Right Side Bar
 */
#rightSidebar {
	width: 20% !important; /* 270px !important; */
	margin-top: 25px !important;
	border: none !important;
	margin-right: 5%;
	margin-left: 2%;
}
/*....................
Inputs
......................*/
input.textField, select.selectMenu, textarea.textArea, input.uploadField {
	border-top: 1px solid #cbcbcb;
	border-left: 1px solid #cbcbcb;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	border-radius: 2px;
}
#rightSidebar form select, #rightSidebar form input {
	width: 140px;
	margin-bottom: 1px;
	background-color: #ffffff;
	color: #6c6c6c;
	font-size: 15px !important;
}
input.button {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: #E8E8E1;
	color: #313131;
	font-size: 1em;
	border-radius: 2px;
}
#rightSidebar input.defaultButton, #rightSidebar input.button, input.defaultButton {
	color: #EEEEFF;
	background-color: #52c1a7 !important;
	border-top: 1px solid #7bbdad;
	border-left: 1px solid #7bbdad;
	border-bottom: 2px solid #4a9482;
	border-right: 2px solid #4a9482;
	border-radius: 2px;
}
#rightSidebar form input {
	border-radius: 2px;
}
/*
 * Extra Sidebar
 */
#extraSidebar {

}
#extraLogo {
	margin-top: 20px;
}
#extraSocial {
	margin-top: 20px;
}
#extraSocial div {
	float: left;
	margin-right: 10px;
}
#sidebar div.block span.blockTitle {
	text-transform: none;
	font-weight: 700;
	letter-spacing: 0.05em;
}
#extraSocial a
{
	background: none !important;
}
/*
 * Journal Content Content
 */
/*
 * Side bar navigation
 */
#sidebarNavigation {
	background-color: #a2d5c6;
	padding: 0 10px 5px 10px;
	border-radius: 3px;
	padding-bottom: 1em !important;
}
.block {
	border-radius: 3px;
}
#sidebarNavigation .blockSubtitle {
	float: left;
	margin-left: 13px;
	color: #535353 !important;
	font-size: 1.3em;
}
#sidebarNavigation form {
	float:right;
}
#sidebarNavigation .blockTitle {
	padding-left: 0px !important;
	padding-top: 0.5em !important;
	padding-bottom: 13px !important;
	color: #36524b;
	font-size: 17px !important;
	text-align: center;
 }
#sidebarNavigation .blockBrowse {
	display: none;
}
#sidebar div.block span.blockSubtitle {
	padding: 5px;
}
/*
 * Language on the THE THE the side.
 */
#sidebarLanguageToggle {
	background-color: #ededed;
	margin: 20px 0 0 0;
	padding: 4px;
}
#sidebarLanguageToggle .blockTitle {
	background-color: #3067b1;
	padding: 5px 0 5px 10px !important;
	color: #fff;
	font-size: 16px !important;
	border-radius: 3px;
}
#sidebarLanguageToggle form select {
	margin: 20px 0 5px 40px;
}
/*
 * Hide unnecesary sidebar.
 */
.menu #login, .menu #register, .menu #search, .menu #current {
 	display: none !important;
 }
 /*
  * PDF
  */
#articlePdf p {
	padding: 10px;
}
/**
 * Footer
 */
 #footer_bt {
 	float: left;
 	width: 90%;
 	margin-left: 5%;
 	background: #272727 url(./images/ucr.png) 90% 80% no-repeat;
 }
 #footer_bt_content {
 	float: left;
 	width: 30%;
 	padding: 20px;
 	color: #a2a2a2;
 	font-size: 0.75em;
 }
 #footer_bar {
 	margin-top: 20px;
 	float: left;
 }
 #footer_bt_address {
 	float: left;
 	width: 30%;
 	padding: 20px;
 	color: #a2a2a2;
 	font-size: 0.75em;
 }
/**
 * label?
 */
label.error {
	color: #f60;
}
#container {
	background-color: #fff;
	font-size: 1em;
	min-width: 800px !important;
}
#header {
	min-height: 100px;
	background-color: #fff;
	min-width: 960px;
}
#headerTitle {
	text-align: none;
	border-bottom: 70px solid #3067b1;
	height: 70px;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}
#header h1 {
	line-height: normal;
	font-family: 'Lato',Verdana, Geneva, sans-serif !important;
	text-transform: none;
	letter-spacing: normal;
	font-size: 0.9em;
	position: absolute;
	color: #fff;
	top: 10px;
	padding: 0.5em 0 0.25em 0;
	max-width: 850px;
	min-width: 800px;
	text-align: right;
	top: -5px;
}
#header h1 img {
	padding-right: 100px;
	position: relative;
	bottom: -13px;
}
#footer {
	background-color: #069;
	color:  #fff;
}
#footerContent {
	color:  #fff;
}
#main {
	margin-top: 15px;
	margin-left: 4.7em;
}
#main h2 {
	font-family: 'Lato',Verdana, Geneva, sans-serif !important;
	color: #3067b1;
	font-weight: 700;
	text-transform: uppercase;
}
#main h3 {
	font-family: 'Lato',Verdana, Geneva, sans-serif !important;
	text-transform: uppercase;
}
#breadcrumb {
	height: 18px;
	line-height: 1.5em;
	text-align: none;
	border-bottom: 1px solid #eee;
	padding: 0;
	font-style: italic;
	margin-bottom: 10px;
}
#content {
	border-top: none;
}
#content h3 {
	font-family: 'Lato',Verdana, Geneva, sans-serif !important;
	text-transform: uppercase;
}
#content h4 {
	font-family: 'Lato',Verdana, Geneva, sans-serif !important;
	text-transform: none;
	font-weight:700;
}
#content h5 {
	text-transform: uppercase;
}
span.highlight {
	border-bottom: 1px solid #cccccc;
}
span.formError {
	color: #f60;
}
ul.formErrorList {
	color: #f60;
}
div.separator {
	border-bottom: 1px solid #cccccc;
}
#rightSidebar ul, #leftSidebar ul {
	margin-left: 0px;
	padding-left: 0px;
}
#rightSidebar li, #leftSidebar li {
	list-style-type: none;
}
#rightSidebar, #leftSidebar {
	margin-top: 5px;
	border-bottom: 1px dotted #069;
}
/*...........
 *Plain
...........*/
.plain li p {
	margin: 0.25em 0;
}
.plain li br {
	margin-bottom: 0.25em;
}
a.action, a.file {
font-size: inherit;
padding: 2px 7px;
text-decoration: none;
}
/*.......
Tables
........*/
table.listing tr.highlight {
	background: #fee028;
}
table.listing tr.fastTracked {
	background-color: #EEEEFF;
}
table.listing td.headseparator, table.listing td.endseparator{
	border-top: 1px solid #ccc;
}
/*#users table tr:nth-child(odd), #issues table tr:nth-child(odd), #submissions table tr:nth-child(odd){
background-color: #F8F8F8;
}*/
